<?xml version='1.0'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android' package='io.reconquest.carcosa' android:versionCode='0' android:versionName='0'>
    <uses-sdk
      android:minSdkVersion="19"
      android:targetSdkVersion="25" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label='carcosa'>
        <activity android:name='io.reconquest.carcosa.MainActivity' android:theme="@style/Theme.AppCompat.NoActionBar">
             <intent-filter>
                <category android:name='android.intent.category.LAUNCHER'/>
                <action android:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
        <activity android:name=".RepoActivity"
                android:parentActivityName=".MainActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>
    </application>
</manifest>
